<a href="https://colab.research.google.com/github/RasheshDesai/MongoDBQuerry/blob/main/MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:

!pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.11.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.11.3 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.5 MB/s eta 0:00:00
Downloading pymongo-4.11.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 26.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.11.3

In [3]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
print('Mongo version', pymongo.__version__)

Mongo version 4.11.3

In [4]:
client = pymongo.MongoClient("mongodb+srv://Assignment3:Test123@assignment3.rmxglkk.mongodb.net/?retryWrites=true&w=majority&appName=Assignment3") # Replace the connection string here between ""
db = client.assignment1
db

Database(MongoClient(host=['ac-ihfkyu2-shard-00-02.rmxglkk.mongodb.net:27017', 'ac-ihfkyu2-shard-00-01.rmxglkk.mongodb.net:27017', 'ac-ihfkyu2-shard-00-00.rmxglkk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Assignment3', authsource='admin', replicaset='atlas-udlegh-shard-0', tls=True), 'assignment1')

In [29]:
# Download JSON datasets to workplace
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Address.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Employee.json
!wget -q https://raw.githubusercontent.com/tofighi/BigData/main/datasets/work/Workplace.json

In [30]:

# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open('Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open('Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open('Address.json') as f:
    db.address.insert_many(json.load(f))

In [31]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

#**Question1**

In [58]:
interest = db.employee.find({
    "age": { "$lte": 50 },
    "interests": { "$in": ["Cooking"] }
});
df = pd.DataFrame(list(interest))
print(df)

                                     _id firstname   lastname  age  \
0   9f39da36-82cc-4353-ab90-d616105fa7c1    Emilie      Woods   40
1   af27265e-6639-49f2-991e-193275a4111a    Thomas  Patterson   18
2   00289d48-bad8-4b73-a359-a1a1f05c96e2    Sophia     Flores   22
3   da76e52b-b3db-4fc0-b0d6-435d1aed0cd9     Ollie    Barnett   25
4   51643cd6-49bb-45d5-bd6e-717c62bb2869     James    Wilkins   27
5   f073a705-6546-4375-adb5-b224871776ef     Aaron       Carr   25
6   457ef68c-9651-4925-bca0-15e246661d19      Alta      Sharp   34
7   840184a3-4c4d-4b15-8813-30fca6e7827b     Delia    Douglas   36
8   6157dc3b-ee2d-463a-b62b-1cd4eed7d575   Dominic       Wade   48
9   cc3e389d-be0d-467a-ba70-7c84f6504911    Myrtle     Little   36
10  c2bf0e3f-e3de-41de-b745-c5b70571dd3a    Jordan   Roberson   29
11  4bc070ca-f849-4eeb-8ab2-98fe3c0861c0   Francis     Harris   38
12  66894dba-4ff0-4545-b7cc-eb6a5bd551c5     Clara     Butler   49
13  581f59a2-ff4c-407e-b58f-e4f292208928      Rena    Johnson   33
14  b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3     Gavin     Conner   49
15  2bfc0479-cb15-46e1-94fa-801404791b21     Peter    Jimenez   37

                  email                                          interests  \
0              ih@ri.ro                 [Bowling, Cooking, Golf, Swimming]
1            sug@gon.bf      [Cooking, Cricket, Tennis, Swimming, Fishing]
2        ra@dupnejuk.nr  [Hiking, Soccer, Bowling, Rubgy, Cooking, Danc...
3           ro@nemaw.et                        [Cooking, Bowling, Dancing]
4   hutfardu@vicbiri.gb                  [Rubgy, Tennis, Cricket, Cooking]
5      fekegim@lucul.tp                                          [Cooking]
6           jus@goal.bn  [Cricket, Cycling, Rubgy, Golf, Cooking, Dancing]
7             me@wak.ne        [Cricket, Cooking, Hiking, Dancing, Tennis]
8             co@pog.nz                        [Cycling, Dancing, Cooking]
9            saj@far.zm  [Cooking, Cycling, Hiking, Rubgy, Bowling, Dan...
10          co@mahdo.ca                                [Swimming, Cooking]
11          pa@sodej.ck     [Dancing, Swimming, Cooking, Bowling, Cycling]
12         do@womjip.by                         [Soccer, Cooking, Cycling]
13      vasberet@his.nz               [Cycling, Swimming, Soccer, Cooking]
14          ah@jopah.uz                          [Rubgy, Cooking, Bowling]
15        usope@tega.bh                       [Cooking, Swimming, Cricket]

                              address_id                          workplace_id
0   b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8  a32bf18d-e0e5-48f2-a851-aa49c80f9460
1   64fd714d-e219-4e45-888b-cc2238a8bd0b  5345fcb9-6297-4b9f-aa15-cbee8460f28f
2   8a430805-00b8-40a6-bd93-c950b544a83b  b12cd444-e65b-4bc2-8cf6-2dbe854a627b
3   5d3eacc4-d1d8-459b-973c-3bc71feacf50  cb795afb-8dc3-482f-b3a0-14229a280afa
4   3f10d9f7-57ef-40e1-a97d-d2ee53aa2c6e  cb795afb-8dc3-482f-b3a0-14229a280afa
5   f4e59d7e-ea40-442d-87be-106e3c46a554  b2a2844d-aeab-4602-b74c-01bf3b8e9c78
6   5e97658e-5809-41b8-a088-eddbd81f86a7  b2a2844d-aeab-4602-b74c-01bf3b8e9c78
7   456e18ae-c2f8-443e-899d-f2b893499695  b2a2844d-aeab-4602-b74c-01bf3b8e9c78
8   8d162eb9-eefc-4b7e-bcad-6fb7a02b15b0  cb795afb-8dc3-482f-b3a0-14229a280afa
9   0d3a90d5-11bd-4f96-91ba-7e7ef80888f0  2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
10  7edd78a4-c4e6-484a-bf2f-ecad5c4c506b  cb795afb-8dc3-482f-b3a0-14229a280afa
11  fc607f68-81c8-4ca8-8a9e-30239ccae40f  2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
12  4dcebe6e-0787-4158-9744-3d721098cec4  50275ad1-8140-4e79-8818-21793e3eb0a3
13  1cf24906-c700-41bb-a4c8-bba3c3ae30d9  2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
14  ef5a17a2-6f11-49b8-a0fd-e0bddc56f185  50275ad1-8140-4e79-8818-21793e3eb0a3
15  77ce0c50-afd6-47e8-86d7-b1b372e8deb2  cb795afb-8dc3-482f-b3a0-14229a280afa

#**Question 2**

In [32]:
new_employee = {
    "firstname": "Jake",
    "lastname": "Sample",
    "email": "jakesample@email.com",
    "age": 26,
    "interests": ["Biking", "Hiking"],  # Interests stored as a list
    "workplace": "Union Planters Corp",
    "address": "573 Wojhas Square, Victoria"
}
insert_result = db.employee.insert_one(new_employee)

print("Inserted Employee _id:", insert_result.inserted_id)

Inserted Employee _id: 67f0163ef0efa2ef78ba8ce9

In [33]:
employee = db.employee.find_one({"email": "jakesample@email.com"})


print("New Employee Inserted Successfully:")
print(employee)

New Employee Inserted Successfully:
{'_id': ObjectId('67f0163ef0efa2ef78ba8ce9'), 'firstname': 'Jake', 'lastname': 'Sample', 'email': 'jakesample@email.com', 'age': 26, 'interests': ['Biking', 'Hiking'], 'workplace': 'Union Planters Corp', 'address': '573 Wojhas Square, Victoria'}

# **Question 3**

In [41]:
workplace = db.workplace.find_one({ "name": "Great Plains Energy Inc." })
workplaceId = workplace['_id'] if workplace else None

In [36]:
workplace_cursor = db.workplace.find({"name": "Great Plains Energy Inc."})
workplace_id = workplace_cursor[0]["_id"] if workplace_cursor else None

In [42]:
if workplaceId:
    delete_filter = {
        "workplace_id": workplaceId,
        "age": { "$gt": 46 },
        "interests": { "$in": ["Tennis"] }
    }

    delete_result = db.employee.delete_many(delete_filter)
    print(f"Number of employees deleted: {delete_result.deleted_count}")
else:
    print("Workplace not found.")

Number of employees deleted: 4

#**Question 4**

In [48]:
workplace = db.workplace.find_one({ "name": "Health Net Inc." })
workplaceId = workplace["_id"]

updateResult = db.employee.update_many(
    { "workplace_id": workplaceId },
    { "$set": { "industry": "Construction" } }
)

print("Number of employees updated: " + str(updateResult.modified_count))

Number of employees updated: 14

#**Question 5**

In [52]:
pipeline = [
    {
        "$lookup": {
            "from": "workplace",
            "localField": "workplace_id",
            "foreignField": "_id",
            "as": "company_info"
        }
    },
    {
        "$unwind": "$company_info"
    },
    {
        "$group": {
            "_id": "$company_info.name",
            "count": { "$sum": 1 }  # Count the number of employees per company
        }
    },
    {
        "$sort": { "count": -1 }  # Sort the results in descending order by count
    }
]

query_result = db.employee.aggregate(pipeline)

df = pd.DataFrame(list(query_result))
print(df)

                                   _id  count
0                     Hilton Solutions     15
1                      Health Net Inc.     14
2                           Aetna Inc.     13
3              Bell Microproducts Inc.     11
4       Equity Office Properties Trust     10
5                  Union Planters Corp      9
6  Equity Residential Properties Trust      7
7                          Kemet Corp.      6
8                        Xcel Bear Inc      6
9             Great Plains Energy Inc.      5